<header>

  </header>
<body>
  <h1>League of Ireland - Fantasy Football</h1>
  <ul>
    <li>
      <p>
        The League of Ireland is the Republic of Ireland's national football league. Here, you are able to
        create a fantasy team made up of players from all around the country.
      </p>
    </li>
    <li>
      <p>
        Select players based on their likelihood to score
        points for <i>your</i> team.
      </p>
    </li>
    <li>
      <p>
        Select your fantasy team during the week for the matches on the following <a [routerLink]='["/league"]'>game week</a>. When all scheduled
        games have been played; points will be attributed.
      </p>
    </li>
    <li>
      <p>You can view your position in the league and search for friends <a [routerLink]='["/league"]'>here</a>!</p>
    </li>
  </ul>
  <h4><u>How players earns points:</u></h4>

  <h5>All</h5>
  <ul>
    <li>Playing 40 minutes or more +2 points.</li>
  </ul>
  <h5>Goalkeepers & Defenders</h5>
  <ul>
    <li>Clean sheet  +4 points.</li>
    <li>Score a goal +5 points.</li>
    <li>Assist a goal +4 points.</li>
  </ul>
  <h5>Midfielders</h5>
  <ul>
    <li>Clean sheet +2 points.</li>
    <li>Score a goal +4 points.</li>
    <li>Assist a goal +3 points.</li>
  </ul>
  <h5>Forwards</h5>
  <ul>
    <li>Score a goal +3 points.</li>
    <li>Assist a goal +3 points.</li>
  </ul>
</body>
