<h1>Global League</h1>

<p *ngIf="!teams"><em>Loading...</em></p>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Search for friends.." [(ngModel)]="filter" >
</div>

<table class='table table-hover table-striped ' *ngIf="teams">
  <thead class='thead-dark'>
    <tr>
      <th>Rank</th>
      <th>Team Name</th>
      <th>Points</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
      <td><b>{{ team.rank }}</b></td>
      <td>{{ team.teamName }}</td>
      <td>{{ team.totalPoints }}</td>
      <td>{{ team.forename }} {{team.surname }} </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

