<h1> Goalkeepers </h1>

<p *ngIf="!goalkeepers"><em>Loading...</em></p>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" placeholder="Search for players by name/club.." [(ngModel)]="this.searchGks">
</div>

<table class='table table-hover table-striped ' *ngIf="goalkeepers">
  <thead class='thead-dark'>
    <tr>
      <th>Name</th>
      <th>Club</th>
      <th>Points</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let goalkeeper of goalkeepers | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
      <td>{{ goalkeeper.forename }} {{ goalkeeper.surname }}</td>
      <td>{{ goalkeeper.club.clubName }}</td>
      <td>{{ goalkeeper.totalPoints }}</td>
      <td>  <button type="button" class="btn btn-success pull-center" (click)="svc.addToTeam(goalkeeper.id)">Add</button> </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="this.p = $event"></pagination-controls>

