/* You can add global styles to this file, and also import other style files */
#leagueTable {
    width:100%;
}

.list-group {
  border:dashed;
  border-color:black;
  width: 100%;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.image {
  height: 50em;
  background-size: cover;
  width: 100%;
  background-image: url("./assets/LOIBack.jpg");
  background-position: 50% 50%;
  border-radius: 5px 5px 5px 5px;
  position: center;

}


.p {
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
