/* You can add global styles to this file, and also import other style files */
#leagueTable {
    width:100%;
}

.list-group {
  border:dashed;
  border-color:black;
  width: 100%;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}
