<h1>Team Selection</h1>

<p *ngIf="!players"><em>Loading...</em></p>

<div class="row" id="outsideRow">
  <ol class="list-group list-group-flush" *ngIf="players">
    <li class="list-group-item">
      <span class="badge badge-success badge-pill">GK</span>
      {{ players[0].forename }} {{ players[0].surname }}
      <button type="button" class="btn btn-success pull-right" >Add</button>
      <button type="button" class="btn btn-danger pull-right" >Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill">DEF</span>
      {{ players[1].forename }} {{ players[1].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill">DEF</span>
      {{ players[2].forename }} {{ players[2].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill">DEF</span>
      {{ players[3].forename }} {{ players[3].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-primary badge-pill">DEF</span>
      {{ players[4].forename }} {{ players[4].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-warning badge-pill">MF</span>
      {{ players[5].forename }} {{ players[5].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-warning badge-pill">MF</span>
      {{ players[6].forename }} {{ players[6].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-warning badge-pill">MF</span>
      {{ players[7].forename }} {{ players[7].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-warning badge-pill">MF</span>
      {{ players[8].forename }} {{ players[8].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-danger badge-pill">STR</span>
      {{ players[9].forename }} {{ players[9].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
    <li class="list-group-item">
      <span class="badge badge-danger badge-pill">STR</span>
      {{ players[10].forename }} {{ players[10].surname }}
      <button type="button" class="btn btn-success pull-right">Add</button>
      <button type="button" class="btn btn-danger pull-right">Remove</button>
    </li>
  </ol>
</div>
